<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cell2i Web Application</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
	<div th:replace="fragments/header :: header"/>

   <div class="container">
   		<div class="starter-template">
        <h2>Burasi User Name - Iste serviceden cekilen name</h2>
        <h2>Burasi User Number - Iste serviceden cekilen msisdn</h2>
        <h2>Burasi Tariff Name - Iste serviceden cekilen tariff</h2>
        <fieldset>
        	<h2>Burada guzel usage detaylari olacak</h2>
        	<h2>Bunlarin hepsi css te centerlanarak yapilmali, html5 desteklemiyormus</h2>
        	<h2>Iste bu tarz isle</h2>
        </fieldset>
    </div>
</div>
<!-- /.container -->

</body>
</html>