<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cell2i Web Application</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<style>
		body{
			background-color: #e0e0e0;
		}
	</style>
<div class="container">
	
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/invoice}">
                <fieldset>
                	<center><!-- not supported in html5 -->
	                    <h1><img src="http://i.hizliresim.com/g6oPVZ.png" alt="Cell2iLogo" align="middle"></img></h1>
	                    <legend>Last 6 Months Invoices</legend>
	                    <div class="form-group">
	                        <img src="http://i.hizliresim.com/DDPo4y.jpg" alt="invoice1" align="middle"></img>
	                    </div>
	                    <div class="form-group">
	                        <img src="http://i.hizliresim.com/PD0vnv.jpg" alt="invoice2" align="middle"></img>
	                    </div>
						<div class="form-group">
	                        <img src="http://i.hizliresim.com/g6qj2L.jpg" alt="invoice3" align="middle"></img>
	                    </div>
						<div>
	                    	<input type="text" name="invoice" id="invoice4" placeholder="invoice4"/>
	                    </div>
						<div>
	                    	<input type="text" name="invoice" id="invoice5" placeholder="invoice5"/>
	                    </div>	 
						<div>
	                    	<input type="text" name="invoice" id="invoice6" placeholder="invoice6"/>
	                    </div>	                   	                    
                  </center> <!--  not supported in html5! -->
                </fieldset>
            </form>
        </div>
    </div>

</div>
</body>
</html>